<a href="https://colab.research.google.com/github/mohitkumarr60/python-practice/blob/main/day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

List

In [ ]:
l1= [4,6,"mohit",34.6]
print(type(l1))

<class 'list'>

In [ ]:
print(l1[2])

mohit

In [ ]:
# print(l1[56]) gives error because list length is 4 and index 56 is not available

In [ ]:
li=[] #empty list
print(type(li))

<class 'list'>

In [ ]:
l1[0]=6  #lists are mutable
print(l1)

[6, 6, 'mohit', 34.6]

In [ ]:
#list functions
a=[65,86,2,48,37,58,98,23]
a.sort() #to sort a list
print(a)

[2, 23, 37, 48, 58, 65, 86, 98]

In [ ]:
a.reverse() #to reverse a list
print(a)

[98, 86, 65, 58, 48, 37, 23, 2]

In [ ]:
li.append(45) #to add element in list
print(li)

[45]

In [ ]:
a.insert(2,456) #to insert element in list at a specific index
print(a)

[98, 86, 456, 65, 58, 48, 37, 23, 2]

In [ ]:
element=a.pop(2) #to remove element from list at a specific index
print(a)
print(element)

[98, 86, 65, 58, 48, 37, 23, 2]
456

In [ ]:
a.remove(48) #to remove a specific element from list
print(a)

[98, 86, 65, 58, 37, 23, 2]

Tuples

In [ ]:
#these are similar to list but are immutable
t1=(4,5,"mohit",34.6)
print(type(t1))

<class 'tuple'>

In [ ]:
# t1[0]=6 gives error because tuples are immutable

In [ ]:
#tuple functions
t1.count(4) #to count the number of times a specific element is present in tuple

1

In [ ]:
t1.index("mohit") #to find the index of a specific element in tuple

2

Dictionary

In [ ]:
# These are Key-Value pairs. It is mutalbe, unordered, indexed and can't contain duplicate keys.
d=dict() #empty dictionary
e={} #empty dictionary
print(type(d))
print(type(e))

<class 'dict'>
<class 'dict'>

In [18]:
f={
    "name":"mohit",
    "age":24,
    "gender":"male"
}
print(f)
print(f['name'])
print(f['age'])

{'name': 'mohit', 'age': 24, 'gender': 'male'}
mohit
24

In [ ]:
print(len(f)) # to get the length of the dictionary

3

In [3]:
g=f.keys() # to get the keys of dictionary
print(g)

dict_keys(['name', 'age', 'gender'])

In [4]:
h=f.values() # to get the values of dictionary
print(h)

dict_values(['mohit', 24, 'male'])

In [11]:
f.update({"place":"jind"}) # to update the dictionary
print(f)

{'name': 'mohit', 'age': 24, 'gender': 'male', 'place': 'jind'}

In [12]:
f.pop('place') # to remove the item with the specified key name
print(f)

{'name': 'mohit', 'age': 24, 'gender': 'male'}

In [13]:
f.popitem() # to remove the last item in the dictionary
print(f)

{'name': 'mohit', 'age': 24}

In [19]:
del f['age'] # to delete the item with the specified key name
print(f)

{'name': 'mohit', 'gender': 'male'}

In [20]:
del f # to delete the dict completely
# print(f)  gives error because 'f' dict is deleted

In [21]:
f={
    "name":"mohit",
    "age":24,
    "gender":"male"
}
f.clear() #to empty the dict
print(f)

{}

In [25]:
f={
    "name":"mohit",
    "age":24,
    "gender":"male"
}
#print all the key names one by one
for i in f:
    print(i)
    #or
for i in f.keys():
    print(i)

name
age
gender
name
age
gender

In [26]:
#print all the values one by one
for i in f:
  print(f[i])
  #or
for i in f.values():
    print(i)

mohit
24
male
mohit
24
male

In [27]:
#print all the keys and values one by one
for i,j in f.items():
    print(i,j)

name mohit
age 24
gender male

In [28]:
g=f.copy() #to copy the dict
print(g)

{'name': 'mohit', 'age': 24, 'gender': 'male'}

In [32]:
#nested dictionary
h={
    "std1":{
        "name":"mohit",
        "age":24,
        "gender":"male"
    },
    "std2":{
        "name":"rohit",
        "age":22,
        "gender":"male"
    },
    "std3":{
        "name":"ankita",
        "age":23,
        "gender":"female"
    }
}
print(h)
print(h['std1']['name'])

{'std1': {'name': 'mohit', 'age': 24, 'gender': 'male'}, 'std2': {'name': 'rohit', 'age': 22, 'gender': 'male'}, 'std3': {'name': 'ankita', 'age': 23, 'gender': 'female'}}
mohit

In [44]:
#loop inside nested dict
for i,item in h.items():
    for j in item:
        print(item[j])

mohit
24
male
rohit
22
male
ankita
23
female