<a href="https://colab.research.google.com/github/mohitkumarr60/python-practice/blob/main/day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Function

In [1]:
# define a new function
def my_function():
    print("Hello from a function")
my_function()

Hello from a function

In [2]:
#passing arguments to a function
def addition(a, b):
    c = a + b
    return c
c=addition(2, 3)
print(c)

5

In [3]:
# arbitrary function
def arbitrary_function(*args): #in this way the function will receive a tuple of arguments
    for i in args:
        print(i)
arbitrary_function(1, 2, 3, 4)

1
2
3
4

In [4]:
# keyword arguments
def new_function(b,a,c):
    print(a,b,c)
new_function(a=1,b=2,c=3)

1 2 3

In [5]:
#arbitrary keyword arguments
def arbitrary_keyword_arguments(**args):
    for key, value in kwargs.items():
        print(key, value)
arbitrary_keyword_arguments(a=1, b=2, c=3)

a 1
b 2
c 3

In [7]:
#default parameter value
def default_parameter(a, b=1, c=2): #means if we don't pass the b and c arguments, default values will be passed
    print(a, b, c)
default_parameter(1)

1 1 2

In [8]:
#list as argument
def sum_list(items):
  sum=0
  for i in items:
    sum+=i
  return sum

print(sum_list([1,2,3,4]))

10

In [10]:
#pass statement : to avoid getting an error from an empty function
def pass_statement():
    pass

pass_statement()

In [11]:
# recursion / recursive function
#recursive function is a function which calls itself again and again until a condition is satisfied
def factorial(x):
    if x == 1:
        return 1
    else:
        return (x * factorial(x-1))
num = 3
print("The factorial of", num, "is", factorial(num))

The factorial of 3 is 6

Lambda

In [18]:
# Lambda function is one line, small anonymous function which can only have one expression.
sum= lambda a,b: a+b
print(sum(2,3))

5

In [19]:
def myfunc(n):
  return lambda a : a * n

a = myfunc(2)
b = myfunc(3)
c = myfunc(4)
print(a(11))
print(b(11))
print(c(11))

22
33
44