<a href="https://colab.research.google.com/github/mohitkumarr60/python-practice/blob/main/blogs/day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python - One Week Challenge: **First Day**

Let's try to print "Hello World" on the console

In [ ]:
# To print anything on the console in a line
print("Hello World")

Hello World

In [ ]:
# To print anything on the console in a new line
print("Hello World\nHello World")

Hello World
Hello World

In [ ]:
# To print anything on the console in a particular format including spaces.
print('''
    *
   ***
  *****
 *******
''')

    *
   ***
  *****
 *******

## Data Types in Python:


---


**Numeric Types**
- int
- float
- complex

**Sequence Types**
- str
- list
- tuple

**Mapping Type**
- dict

**Set Types**
- set
- frozenset

**Boolean Type**
- bool

**Binary Types**
- bytes
- bytearray
- memoryview

**None Type**
- NoneType

## Let's delve deeper into the data types.

## Numeric Types

 - **int**: Integer type, for whole numbers (e.g., `42`, `-7`)

- **float**: Floating-point type, for decimal numbers (e.g., `3.14`, `-0.001`)

- **complex**: Complex number type, for numbers with a real and imaginary part (e.g., `3 + 4j`, `-1j`)

In [ ]:
# Numeric Types in Python

# int: Integer type, for whole numbers
x = 42          # An integer
y = -7          # A negative integer

# float: Floating-point type, for decimal numbers
pi = 3.14       # A floating-point number
negative_pi = -3.14  # A negative floating-point number

# complex: Complex number type, for numbers with a real and imaginary part
z = 3 + 4j      # A complex number with real part 3 and imaginary part 4
w = -1j         # A complex number with real part 0 and imaginary part -1

# Print the values of the variables.
print(x, y, pi, negative_pi, z, w)

# To check the data type of a variable
print(type(x))
print(type(pi))
print(type(z))

42 -7 3.14 -3.14 (3+4j) (-0-1j)
<class 'int'>
<class 'float'>
<class 'complex'>

## Sequence Type

 - **str**: String type, for sequences of characters.

In [ ]:
greeting = "hello"
farewell = "goodbye"
print(greeting, farewell)
print(type(greeting))

hello goodbye
<class 'str'>

- **list**: List type, for ordered, mutable collections.

In [ ]:
numbers = [1,2,3]
letters = ['a','b','c']
mixed = [1, 'a', 3.14]
print(numbers)
print(letters)
print(mixed)
print(type(numbers))
print(type(letters))
print(type(mixed))

[1, 2, 3]
['a', 'b', 'c']
[1, 'a', 3.14]
<class 'list'>
<class 'list'>
<class 'list'>

- **tuple**: Tuple type, for ordered, immutable collections.

In [ ]:
point = (1, 2)
data = ('name', 30, True)
single = (42,)
print(point)
print(data)
print(single)
print(type(point))
print(type(data))
print(type(single))

(1, 2)
('name', 30, True)
(42,)
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

## Mapping Type

* **dict**: Dictionary type, for key-value pairs

In [ ]:
person = {'name': 'John', 'age': 30}
product = {'id': 101, 'name': 'Laptop', 'price': 799.99}
print(person)
print(product)
print(type(person))
print(type(product))

{'name': 'John', 'age': 30}
{'id': 101, 'name': 'Laptop', 'price': 799.99}
<class 'dict'>
<class 'dict'>

## Set Type

- **set**: Set type, for unordered collections of unique elements

In [ ]:
numbers = {1, 2, 3}       # A set of integers
letters = {'a', 'b', 'c'} # A set of characters
mixed = {1, 'a', 3.14}    # A set with mixed data types
print(numbers)
print(letters)
print(mixed)
print(type(numbers))
print(type(letters))
print(type(mixed))

{1, 2, 3}
{'c', 'b', 'a'}
{1, 3.14, 'a'}
<class 'set'>
<class 'set'>
<class 'set'>

- **frozenset**: Immutable set type, for unordered collections of unique elements that cannot be changed after creation

In [ ]:
frozen_numbers = frozenset([4, 5, 6])    # A frozenset of integers
frozen_letters = frozenset(['a', 'b', 'c'])  # A frozenset of characters
frozen_mixed = frozenset([1, 'a', 3.14])     # A frozenset with mixed data types
print(frozen_numbers)
print(frozen_letters)
print(frozen_mixed)
print(type(frozen_numbers))
print(type(frozen_letters))
print(type(frozen_mixed))

frozenset({4, 5, 6})
frozenset({'c', 'b', 'a'})
frozenset({1, 3.14, 'a'})
<class 'frozenset'>
<class 'frozenset'>
<class 'frozenset'>

## Boolean Type

- **bool**: Boolean type, for truth values (e.g., `True`, `False`)

In [ ]:
is_active = True      # A boolean value representing True
is_closed = False     # A boolean value representing False
print(is_active)
print(is_closed)
print(type(is_active))
print(type(is_closed))

True
False
<class 'bool'>
<class 'bool'>

- **NoneType**:Represents the absence of a value or a null value (e.g., `None`)

In [ ]:
result = None         # A None value representing the absence of a value
print(result)
print(type(result))

None
<class 'NoneType'>

## Binary Type

- **bytes**: Immutable sequence of bytes (e.g., `b'hello'`)

In [ ]:
byte_data = b'hello'  # A bytes object
print(byte_data)
print(type(byte_data))

b'hello'
<class 'bytes'>

- **bytearray**: Mutable sequence of bytes (e.g., `bytearray(b'hello')`)

In [ ]:
mutable_byte_data = bytearray(b'hello')  # A bytearray object
print(mutable_byte_data)
print(type(mutable_byte_data))

bytearray(b'hello')
<class 'bytearray'>

- **memoryview**: Memory view object, for exposing the buffer protocol (e.g., `memoryview(b'hello')`)

In [ ]:
mem_view = memoryview(b'hello')  # A memoryview object
print(mem_view)
print(type(mem_view))

<memory at 0x7f49c6650040>
<class 'memoryview'>

# Conditional Statements

- **if statement**: if the condition is true, code inside the if block will be executed.

In [ ]:
# if
marks=80
if marks>=60:
    print("passed")

passed

- **if-else statements**: if the condition is true, code inside the if block will be executed, else, the code inside else block will be executed.

In [ ]:
# if else
age=5
if age>=18:
    print("adult")
else:
    print("not adult")

not adult

- **if-elif-else statements**: It is used when we have to check for multiple conditions. There can be multiple elif conditions in a block.

In [ ]:
marks =78
if marks >= 90:
    print("Grade: A")
elif marks >= 80:
    print("Grade: B")
elif marks >= 70:
    print("Grade: C")
else:
    print("Grade: D")

Grade: C

- **Nested if-else statements**: We can use another if-else block inside an if-else block.

In [ ]:
number = 15
if number > 0:
    if number % 2 == 0:
        print("Positive even number")
    else:
        print("Positive odd number")
else:
    print("Non-positive number")

Positive odd number

# Loops in Python

Python provides us with two types of loops to help us repeat tasks:
1.   while loops
2.   for loops

## 1. The while Loop
The `while loop` allows you to execute a block of code repeatedly as long as a specified condition remains true.


**Example:**

Let's say we want to print numbers from 1 to 5:

In [ ]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

In this example, the loop will print the value of `i` as long as `i` is less than 6.

*Don't forget to increment `i` inside the loop, or it will run forever!*

#### The break Statement
Sometimes, you might want to stop the loop before the condition becomes false. That's where the `break` statement comes in handy.

**Example:**

Imagine we want to stop the loop when i reaches 3:

In [ ]:
i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1

1
2
3

#### The continue Statement
What if you want to skip the current iteration and move on to the next one? Use the continue statement.

**Example:**

Skip printing the number 3:

In [ ]:
i = 0
while i < 6:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6

#### The else Statement
You can also pair an else statement with a while loop? The else block will execute once when the loop condition becomes false.

**Example:**

Print a message after the loop finishes:

In [ ]:
i = 1
while i < 6:
    print(i)
    i += 1
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

## 2. The for Loop
The for loop is used for iterating over a sequence (like a list, tuple, dictionary, set, or string).


**Example:**

Let's say we want to print each fruit in a list of fruits:

In [ ]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

**Using range():**

The `range()` function is commonly used with `for` loops to generate a sequence of numbers.

**Example:**

Print numbers from 0 to 5:

In [ ]:
for i in range(6):
    print(i)

0
1
2
3
4
5

You can also specify a start value and a step value:

**Example:**

Print even numbers from 2 to 10:

In [ ]:
for i in range(2, 11, 2):
    print(i)

#Here, range(2, 11, 2) generates numbers from 2 to 10, with a step of 2.

2
4
6
8
10

In [ ]:
# print elements of list "e" using for loop
for i in e:
  print(i)

1
2
3
4
5

**Iterating Over a String**:

You can use a for loop to iterate over each character in a string.

**Example:**

Print each character in the word "banana":

In [30]:
for char in "banana":
    print(char)
#This loop will print each character in the string "banana".

b
a
n
a
n
a

**The break Statement**:

The `break` statement can be used to exit the loop before it has looped through all the items.

**Example:**

Stop the loop when the fruit is "banana":

In [31]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    if fruit == "banana":
        break
    print(fruit)
#This loop will print "apple" and then stop when it encounters "banana".

apple

**The continue Statement**:

The `continue` statement skips the current iteration and moves to the next one.

**Example:**

Skip "banana" and continue with the next fruit:

In [32]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    if fruit == "banana":
        continue
    print(fruit)
#This loop will print "apple" and "cherry", skipping "banana".

apple
cherry

**The else Statement**:

The `else` statement in a `for` loop runs a block of code once when the loop is finished.

**Example:**

Print a message when the loop is done:

In [33]:
for i in range(6):
    print(i)
else:
    print("Loop is complete")

0
1
2
3
4
5
Loop is complete

**Nested Loops**:

You can nest loops to perform more complex iterations.

**Example:**

Print each adjective for each fruit:

In [34]:
adjectives = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
for adjective in adjectives:
    for fruit in fruits:
        print(adjective, fruit)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry